In [84]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [85]:
df=pd.read_excel('flight_price.xlsx')

In [86]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [88]:
df.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price'],
      dtype='object')

In [89]:
df.describe()

              Price
count  10683.000000
mean    9087.064121
std     4611.359167
min     1759.000000
25%     5277.000000
50%     8372.000000
75%    12373.000000
max    79512.000000

In [90]:
df['Date_of_Journey']

0        24/03/2019
1         1/05/2019
2         9/06/2019
3        12/05/2019
4        01/03/2019
            ...
10678     9/04/2019
10679    27/04/2019
10680    27/04/2019
10681    01/03/2019
10682     9/05/2019
Name: Date_of_Journey, Length: 10683, dtype: object

In [91]:
df['Journey_Date']=df['Date_of_Journey'].str.split('/').str[0]

In [92]:
df['Journey_Month']=df['Date_of_Journey'].str.split('/').str[1]

In [93]:
df['Journey_Year']=df['Date_of_Journey'].str.split('/').str[2]

In [94]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Journey_Date,Journey_Month,Journey_Year
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,03,2019
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,05,2019
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,06,2019
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,05,2019
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,01,03,2019

In [95]:
df.drop('Date_of_Journey',inplace=True,axis=1)

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Dep_Time         10683 non-null  object
 5   Arrival_Time     10683 non-null  object
 6   Duration         10683 non-null  object
 7   Total_Stops      10682 non-null  object
 8   Additional_Info  10683 non-null  object
 9   Price            10683 non-null  int64
 10  Journey_Date     10683 non-null  object
 11  Journey_Month    10683 non-null  object
 12  Journey_Year     10683 non-null  object
dtypes: int64(1), object(12)
memory usage: 1.1+ MB

In [97]:
df['Journey_Date']=df['Journey_Date'].astype(int)
df['Journey_Month']=df['Journey_Month'].astype(int)
df['Journey_Year']=df['Journey_Year'].astype(int)

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Dep_Time         10683 non-null  object
 5   Arrival_Time     10683 non-null  object
 6   Duration         10683 non-null  object
 7   Total_Stops      10682 non-null  object
 8   Additional_Info  10683 non-null  object
 9   Price            10683 non-null  int64
 10  Journey_Date     10683 non-null  int32
 11  Journey_Month    10683 non-null  int32
 12  Journey_Year     10683 non-null  int32
dtypes: int32(3), int64(1), object(9)
memory usage: 959.9+ KB

In [99]:
df.isnull().sum()

Airline            0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
Journey_Date       0
Journey_Month      0
Journey_Year       0
dtype: int64

In [100]:
df['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [101]:
df['Dep_Time']

0        22:20
1        05:50
2        09:25
3        18:05
4        16:50
         ...
10678    19:55
10679    20:45
10680    08:20
10681    11:30
10682    10:55
Name: Dep_Time, Length: 10683, dtype: object

In [102]:
df['Departure_Hour']=df['Dep_Time'].str.split(':').str[0]
df['Departure_Minute']=df['Dep_Time'].str.split(':').str[1]

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Airline           10683 non-null  object
 1   Source            10683 non-null  object
 2   Destination       10683 non-null  object
 3   Route             10682 non-null  object
 4   Dep_Time          10683 non-null  object
 5   Arrival_Time      10683 non-null  object
 6   Duration          10683 non-null  object
 7   Total_Stops       10682 non-null  object
 8   Additional_Info   10683 non-null  object
 9   Price             10683 non-null  int64
 10  Journey_Date      10683 non-null  int32
 11  Journey_Month     10683 non-null  int32
 12  Journey_Year      10683 non-null  int32
 13  Departure_Hour    10683 non-null  object
 14  Departure_Minute  10683 non-null  object
dtypes: int32(3), int64(1), object(11)
memory usage: 1.1+ MB

In [104]:
df.head(2)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Journey_Date,Journey_Month,Journey_Year,Departure_Hour,Departure_Minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,2019,05,50

In [105]:
df['Departure_Hour']=df['Departure_Hour'].astype(int)
df['Departure_Minute']=df['Departure_Minute'].astype(int)

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Airline           10683 non-null  object
 1   Source            10683 non-null  object
 2   Destination       10683 non-null  object
 3   Route             10682 non-null  object
 4   Dep_Time          10683 non-null  object
 5   Arrival_Time      10683 non-null  object
 6   Duration          10683 non-null  object
 7   Total_Stops       10682 non-null  object
 8   Additional_Info   10683 non-null  object
 9   Price             10683 non-null  int64
 10  Journey_Date      10683 non-null  int32
 11  Journey_Month     10683 non-null  int32
 12  Journey_Year      10683 non-null  int32
 13  Departure_Hour    10683 non-null  int32
 14  Departure_Minute  10683 non-null  int32
dtypes: int32(5), int64(1), object(9)
memory usage: 1.0+ MB

In [107]:
df.drop('Dep_Time',inplace=True,axis=1)

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Airline           10683 non-null  object
 1   Source            10683 non-null  object
 2   Destination       10683 non-null  object
 3   Route             10682 non-null  object
 4   Arrival_Time      10683 non-null  object
 5   Duration          10683 non-null  object
 6   Total_Stops       10682 non-null  object
 7   Additional_Info   10683 non-null  object
 8   Price             10683 non-null  int64
 9   Journey_Date      10683 non-null  int32
 10  Journey_Month     10683 non-null  int32
 11  Journey_Year      10683 non-null  int32
 12  Departure_Hour    10683 non-null  int32
 13  Departure_Minute  10683 non-null  int32
dtypes: int32(5), int64(1), object(8)
memory usage: 959.9+ KB

In [109]:
df['Arrival_Hours']=df['Arrival_Time'].str.split(' ').str[0].str.split(':').str[0]
df['Arrival_Minutes']=df['Arrival_Time'].str.split(' ').str[0].str.split(':').str[1]

In [110]:
df['Arrival_Hours']=df['Arrival_Hours'].astype(int)
df['Arrival_Minutes']=df['Arrival_Minutes'].astype(int)

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Airline           10683 non-null  object
 1   Source            10683 non-null  object
 2   Destination       10683 non-null  object
 3   Route             10682 non-null  object
 4   Arrival_Time      10683 non-null  object
 5   Duration          10683 non-null  object
 6   Total_Stops       10682 non-null  object
 7   Additional_Info   10683 non-null  object
 8   Price             10683 non-null  int64
 9   Journey_Date      10683 non-null  int32
 10  Journey_Month     10683 non-null  int32
 11  Journey_Year      10683 non-null  int32
 12  Departure_Hour    10683 non-null  int32
 13  Departure_Minute  10683 non-null  int32
 14  Arrival_Hours     10683 non-null  int32
 15  Arrival_Minutes   10683 non-null  int32
dtypes: int32(7), int64(1), object(8)
memory usage: 1.0+ MB

In [112]:
df.drop('Arrival_Time',axis=1,inplace=True)

In [113]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Airline           10683 non-null  object
 1   Source            10683 non-null  object
 2   Destination       10683 non-null  object
 3   Route             10682 non-null  object
 4   Duration          10683 non-null  object
 5   Total_Stops       10682 non-null  object
 6   Additional_Info   10683 non-null  object
 7   Price             10683 non-null  int64
 8   Journey_Date      10683 non-null  int32
 9   Journey_Month     10683 non-null  int32
 10  Journey_Year      10683 non-null  int32
 11  Departure_Hour    10683 non-null  int32
 12  Departure_Minute  10683 non-null  int32
 13  Arrival_Hours     10683 non-null  int32
 14  Arrival_Minutes   10683 non-null  int32
dtypes: int32(7), int64(1), object(7)
memory usage: 959.9+ KB

In [114]:
df.drop('Route',axis=1,inplace=True)

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Airline           10683 non-null  object
 1   Source            10683 non-null  object
 2   Destination       10683 non-null  object
 3   Duration          10683 non-null  object
 4   Total_Stops       10682 non-null  object
 5   Additional_Info   10683 non-null  object
 6   Price             10683 non-null  int64
 7   Journey_Date      10683 non-null  int32
 8   Journey_Month     10683 non-null  int32
 9   Journey_Year      10683 non-null  int32
 10  Departure_Hour    10683 non-null  int32
 11  Departure_Minute  10683 non-null  int32
 12  Arrival_Hours     10683 non-null  int32
 13  Arrival_Minutes   10683 non-null  int32
dtypes: int32(7), int64(1), object(6)
memory usage: 876.5+ KB

In [116]:
df['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [117]:
df['Source'].unique()

array(['Banglore', 'Kolkata', 'Delhi', 'Chennai', 'Mumbai'], dtype=object)

In [118]:
df['Destination'].unique()

array(['New Delhi', 'Banglore', 'Cochin', 'Kolkata', 'Delhi', 'Hyderabad'],
      dtype=object)

In [119]:
df['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [120]:
from sklearn.preprocessing import OneHotEncoder

In [121]:
encoder=OneHotEncoder()

In [122]:
encoder.fit_transform(df[['Airline','Source','Destination']]).toarray()

array([[0., 0., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 0., 0.]])

In [124]:
df1=pd.DataFrame(encoder.fit_transform(df[['Airline','Source','Destination']]).toarray(),columns=encoder.get_feature_names_out())

In [125]:
df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [126]:
df['Total_Stops'].mode()

0    1 stop
Name: Total_Stops, dtype: object

In [127]:
df['Total_Stops']=df['Total_Stops'].map({'non-stop':0, '2 stops':2, '1 stop':1, '3 stops':3,np.nan:1, '4 stops':4})

In [128]:
df['Total_Stops']

0        0
1        2
2        2
3        1
4        1
        ..
10678    0
10679    0
10680    0
10681    0
10682    2
Name: Total_Stops, Length: 10683, dtype: int64

In [129]:
df.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Journey_Date,Journey_Month,Journey_Year,Departure_Hour,Departure_Minute,Arrival_Hours,Arrival_Minutes
0,IndiGo,Banglore,New Delhi,2h 50m,0,No info,3897,24,3,2019,22,20,1,10
1,Air India,Kolkata,Banglore,7h 25m,2,No info,7662,1,5,2019,5,50,13,15
2,Jet Airways,Delhi,Cochin,19h,2,No info,13882,9,6,2019,9,25,4,25
3,IndiGo,Kolkata,Banglore,5h 25m,1,No info,6218,12,5,2019,18,5,23,30
4,IndiGo,Banglore,New Delhi,4h 45m,1,No info,13302,1,3,2019,16,50,21,35

In [130]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Airline           10683 non-null  object
 1   Source            10683 non-null  object
 2   Destination       10683 non-null  object
 3   Duration          10683 non-null  object
 4   Total_Stops       10683 non-null  int64
 5   Additional_Info   10683 non-null  object
 6   Price             10683 non-null  int64
 7   Journey_Date      10683 non-null  int32
 8   Journey_Month     10683 non-null  int32
 9   Journey_Year      10683 non-null  int32
 10  Departure_Hour    10683 non-null  int32
 11  Departure_Minute  10683 non-null  int32
 12  Arrival_Hours     10683 non-null  int32
 13  Arrival_Minutes   10683 non-null  int32
dtypes: int32(7), int64(2), object(5)
memory usage: 876.5+ KB

In [132]:
final_df=pd.concat([df,df1],axis=1)

In [133]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 37 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Airline                                    10683 non-null  object
 1   Source                                     10683 non-null  object
 2   Destination                                10683 non-null  object
 3   Duration                                   10683 non-null  object
 4   Total_Stops                                10683 non-null  int64
 5   Additional_Info                            10683 non-null  object
 6   Price                                      10683 non-null  int64
 7   Journey_Date                               10683 non-null  int32
 8   Journey_Month                              10683 non-null  int32
 9   Journey_Year                               10683 non-null  int32
 10  Departure_Hour                             10683 non-null  int32
 11  Departure_Minute                           10683 non-null  int32
 12  Arrival_Hours                              10683 non-null  int32
 13  Arrival_Minutes                            10683 non-null  int32
 14  Airline_Air Asia                           10683 non-null  float64
 15  Airline_Air India                          10683 non-null  float64
 16  Airline_GoAir                              10683 non-null  float64
 17  Airline_IndiGo                             10683 non-null  float64
 18  Airline_Jet Airways                        10683 non-null  float64
 19  Airline_Jet Airways Business               10683 non-null  float64
 20  Airline_Multiple carriers                  10683 non-null  float64
 21  Airline_Multiple carriers Premium economy  10683 non-null  float64
 22  Airline_SpiceJet                           10683 non-null  float64
 23  Airline_Trujet                             10683 non-null  float64
 24  Airline_Vistara                            10683 non-null  float64
 25  Airline_Vistara Premium economy            10683 non-null  float64
 26  Source_Banglore                            10683 non-null  float64
 27  Source_Chennai                             10683 non-null  float64
 28  Source_Delhi                               10683 non-null  float64
 29  Source_Kolkata                             10683 non-null  float64
 30  Source_Mumbai                              10683 non-null  float64
 31  Destination_Banglore                       10683 non-null  float64
 32  Destination_Cochin                         10683 non-null  float64
 33  Destination_Delhi                          10683 non-null  float64
 34  Destination_Hyderabad                      10683 non-null  float64
 35  Destination_Kolkata                        10683 non-null  float64
 36  Destination_New Delhi                      10683 non-null  float64
dtypes: float64(23), int32(7), int64(2), object(5)
memory usage: 2.7+ MB

In [135]:
final_df.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Journey_Date,Journey_Month,Journey_Year,...,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Banglore,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,IndiGo,Banglore,New Delhi,2h 50m,0,No info,3897,24,3,2019,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,Air India,Kolkata,Banglore,7h 25m,2,No info,7662,1,5,2019,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,Jet Airways,Delhi,Cochin,19h,2,No info,13882,9,6,2019,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,IndiGo,Kolkata,Banglore,5h 25m,1,No info,6218,12,5,2019,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,IndiGo,Banglore,New Delhi,4h 45m,1,No info,13302,1,3,2019,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [136]:
final_df.drop(['Airline','Source','Destination'],axis=1,inplace=True)

In [137]:
final_df.head()

,Duration,Total_Stops,Additional_Info,Price,Journey_Date,Journey_Month,Journey_Year,Departure_Hour,Departure_Minute,Arrival_Hours,...,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Banglore,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,2h 50m,0,No info,3897,24,3,2019,22,20,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,7h 25m,2,No info,7662,1,5,2019,5,50,13,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,19h,2,No info,13882,9,6,2019,9,25,4,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,5h 25m,1,No info,6218,12,5,2019,18,5,23,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,4h 45m,1,No info,13302,1,3,2019,16,50,21,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [139]:
final_df['Duration'].unique()

array(['2h 50m', '7h 25m', '19h', '5h 25m', '4h 45m', '2h 25m', '15h 30m',
       '21h 5m', '25h 30m', '7h 50m', '13h 15m', '2h 35m', '2h 15m',
       '12h 10m', '26h 35m', '4h 30m', '22h 35m', '23h', '20h 35m',
       '5h 10m', '15h 20m', '2h 55m', '13h 20m', '15h 10m', '5h 45m',
       '5h 55m', '13h 25m', '22h', '5h 30m', '10h 25m', '5h 15m',
       '2h 30m', '6h 15m', '11h 55m', '11h 5m', '8h 30m', '22h 5m',
       '2h 45m', '12h', '16h 5m', '19h 55m', '3h 15m', '25h 20m', '3h',
       '16h 15m', '15h 5m', '6h 30m', '25h 5m', '12h 25m', '27h 20m',
       '10h 15m', '10h 30m', '1h 30m', '1h 25m', '26h 30m', '7h 20m',
       '13h 30m', '5h', '19h 5m', '14h 50m', '2h 40m', '22h 10m',
       '9h 35m', '10h', '21h 20m', '18h 45m', '12h 20m', '18h', '9h 15m',
       '17h 30m', '16h 35m', '12h 15m', '7h 30m', '24h', '8h 55m',
       '7h 10m', '14h 30m', '30h 20m', '15h', '12h 45m', '10h 10m',
       '15h 25m', '14h 5m', '20h 15m', '23h 10m', '18h 10m', '16h',
       '2h 20m', '8h', '16h 55m', '3h 10m', '14h', '23h 50m', '21h 40m',
       '21h 15m', '10h 50m', '8h 15m', '8h 35m', '11h 50m', '27h 35m',
       '8h 25m', '20h 55m', '4h 50m', '8h 10m', '24h 25m', '23h 35m',
       '25h 45m', '26h 10m', '28h 50m', '25h 15m', '9h 20m', '9h 10m',
       '3h 5m', '11h 30m', '9h 30m', '17h 35m', '5h 5m', '25h 50m', '20h',
       '13h', '18h 25m', '24h 10m', '4h 55m', '25h 35m', '6h 20m',
       '18h 40m', '19h 25m', '29h 20m', '9h 5m', '10h 45m', '11h 40m',
       '22h 55m', '37h 25m', '25h 40m', '13h 55m', '8h 40m', '23h 30m',
       '12h 35m', '24h 15m', '1h 20m', '11h', '11h 15m', '14h 35m',
       '12h 55m', '9h', '7h 40m', '11h 45m', '24h 55m', '17h 5m',
       '29h 55m', '22h 15m', '14h 40m', '7h 15m', '20h 10m', '20h 45m',
       '27h', '24h 30m', '20h 25m', '5h 35m', '14h 45m', '5h 40m',
       '4h 5m', '15h 55m', '7h 45m', '28h 20m', '4h 20m', '3h 40m',
       '8h 50m', '23h 45m', '24h 45m', '21h 35m', '8h 5m', '6h 25m',
       '15h 50m', '26h 25m', '24h 50m', '26h', '23h 5m', '7h 55m',
       '26h 20m', '23h 15m', '5h 20m', '4h', '9h 45m', '8h 20m',
       '17h 25m', '7h 5m', '34h 5m', '6h 5m', '5h 50m', '7h', '4h 25m',
       '13h 45m', '19h 15m', '22h 30m', '16h 25m', '13h 50m', '27h 5m',
       '28h 10m', '4h 40m', '15h 40m', '4h 35m', '18h 30m', '38h 15m',
       '6h 35m', '12h 30m', '11h 20m', '7h 35m', '29h 35m', '26h 55m',
       '23h 40m', '12h 50m', '9h 50m', '21h 55m', '10h 55m', '21h 10m',
       '20h 40m', '30h', '13h 10m', '8h 45m', '6h 10m', '17h 45m',
       '21h 45m', '3h 55m', '17h 20m', '30h 30m', '21h 25m', '12h 40m',
       '24h 35m', '19h 10m', '22h 40m', '14h 55m', '21h', '6h 45m',
       '28h 40m', '9h 40m', '16h 40m', '16h 20m', '16h 45m', '1h 15m',
       '6h 55m', '11h 25m', '14h 20m', '12h 5m', '24h 5m', '28h 15m',
       '17h 50m', '20h 20m', '28h 5m', '10h 20m', '14h 15m', '35h 15m',
       '35h 35m', '26h 40m', '28h', '14h 25m', '13h 5m', '37h 20m',
       '36h 10m', '25h 55m', '35h 5m', '19h 45m', '27h 55m', '47h',
       '10h 35m', '1h 35m', '16h 10m', '38h 20m', '6h', '16h 50m',
       '14h 10m', '23h 20m', '17h 40m', '11h 35m', '18h 20m', '6h 40m',
       '30h 55m', '24h 40m', '29h 50m', '28h 25m', '17h 15m', '22h 45m',
       '25h 25m', '21h 50m', '33h 15m', '30h 15m', '3h 35m', '27h 40m',
       '30h 25m', '18h 50m', '27h 45m', '15h 15m', '10h 40m', '26h 15m',
       '36h 25m', '26h 50m', '15h 45m', '19h 40m', '22h 25m', '19h 35m',
       '25h', '26h 45m', '38h', '4h 15m', '25h 10m', '18h 15m', '6h 50m',
       '23h 55m', '17h 55m', '23h 25m', '17h 10m', '24h 20m', '28h 30m',
       '27h 10m', '19h 20m', '15h 35m', '9h 25m', '21h 30m', '34h 25m',
       '18h 35m', '29h 40m', '26h 5m', '29h 5m', '27h 25m', '16h 30m',
       '11h 10m', '28h 55m', '29h 10m', '34h', '30h 40m', '30h 45m',
       '32h 55m', '10h 5m', '35h 20m', '32h 5m', '31h 40m', '19h 50m',
       '33h 45m', '30h 10m', '13h 40m', '19h 30m', '31h 30m', '34h 30m',
       '27h 50m', '38h 35m', '42h 5m', '4h 10m', '39h 5m', '3h 50m', '5m',
       '32h 30m', '31h 55m', '33h 20m', '27h 30m', '18h 55m', '9h 55m',
       '41h 20m', '20h 5m', '31h 50m', '42h 45m', '3h 25m', '37h 10m',
       '29h 30m', '32h 20m', '20h 50m', '40h 20m', '13h 35m', '47h 40m'],
      dtype=object)

In [164]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Airline           10683 non-null  object
 1   Source            10683 non-null  object
 2   Destination       10683 non-null  object
 3   Duration          10683 non-null  object
 4   Total_Stops       10683 non-null  int64
 5   Additional_Info   10683 non-null  object
 6   Price             10683 non-null  int64
 7   Journey_Date      10683 non-null  int32
 8   Journey_Month     10683 non-null  int32
 9   Journey_Year      10683 non-null  int32
 10  Departure_Hour    10683 non-null  int32
 11  Departure_Minute  10683 non-null  int32
 12  Arrival_Hours     10683 non-null  int32
 13  Arrival_Minutes   10683 non-null  int32
dtypes: int32(7), int64(2), object(5)
memory usage: 876.5+ KB

In [165]:
duration = list(final_df["Duration"])

for i in range(len(duration)):
    if len(duration[i].split()) != 2:    # Check if duration contains only hour or mins
        if "h" in duration[i]:
            duration[i] = duration[i].strip() + " 0m"   # Adds 0 minute
        else:
            duration[i] = "0h " + duration[i]           # Adds 0 hour

duration_hours = []
duration_mins = []
for i in range(len(duration)):
    duration_hours.append(int(duration[i].split(sep = "h")[0]))    # Extract hours from duration
    duration_mins.append(int(duration[i].split(sep = "m")[0].split()[-1]))   # Extracts only minutes from duration
# Adding duration_hours and duration_mins list to train_data dataframe

final_df["Duration_hours"] = duration_hours
final_df["Duration_mins"] = duration_mins

In [170]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 36 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Duration                                   10683 non-null  object
 1   Total_Stops                                10683 non-null  int64
 2   Additional_Info                            10683 non-null  object
 3   Price                                      10683 non-null  int64
 4   Journey_Date                               10683 non-null  int32
 5   Journey_Month                              10683 non-null  int32
 6   Journey_Year                               10683 non-null  int32
 7   Departure_Hour                             10683 non-null  int32
 8   Departure_Minute                           10683 non-null  int32
 9   Arrival_Hours                              10683 non-null  int32
 10  Arrival_Minutes                            10683 non-null  int32
 11  Airline_Air Asia                           10683 non-null  float64
 12  Airline_Air India                          10683 non-null  float64
 13  Airline_GoAir                              10683 non-null  float64
 14  Airline_IndiGo                             10683 non-null  float64
 15  Airline_Jet Airways                        10683 non-null  float64
 16  Airline_Jet Airways Business               10683 non-null  float64
 17  Airline_Multiple carriers                  10683 non-null  float64
 18  Airline_Multiple carriers Premium economy  10683 non-null  float64
 19  Airline_SpiceJet                           10683 non-null  float64
 20  Airline_Trujet                             10683 non-null  float64
 21  Airline_Vistara                            10683 non-null  float64
 22  Airline_Vistara Premium economy            10683 non-null  float64
 23  Source_Banglore                            10683 non-null  float64
 24  Source_Chennai                             10683 non-null  float64
 25  Source_Delhi                               10683 non-null  float64
 26  Source_Kolkata                             10683 non-null  float64
 27  Source_Mumbai                              10683 non-null  float64
 28  Destination_Banglore                       10683 non-null  float64
 29  Destination_Cochin                         10683 non-null  float64
 30  Destination_Delhi                          10683 non-null  float64
 31  Destination_Hyderabad                      10683 non-null  float64
 32  Destination_Kolkata                        10683 non-null  float64
 33  Destination_New Delhi                      10683 non-null  float64
 34  Duration_hours                             10683 non-null  int64
 35  Duration_mins                              10683 non-null  int64
dtypes: float64(23), int32(7), int64(4), object(2)
memory usage: 2.6+ MB

In [171]:
final_df.drop(['Duration'],inplace=True,axis=1)

In [172]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 35 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Total_Stops                                10683 non-null  int64
 1   Additional_Info                            10683 non-null  object
 2   Price                                      10683 non-null  int64
 3   Journey_Date                               10683 non-null  int32
 4   Journey_Month                              10683 non-null  int32
 5   Journey_Year                               10683 non-null  int32
 6   Departure_Hour                             10683 non-null  int32
 7   Departure_Minute                           10683 non-null  int32
 8   Arrival_Hours                              10683 non-null  int32
 9   Arrival_Minutes                            10683 non-null  int32
 10  Airline_Air Asia                           10683 non-null  float64
 11  Airline_Air India                          10683 non-null  float64
 12  Airline_GoAir                              10683 non-null  float64
 13  Airline_IndiGo                             10683 non-null  float64
 14  Airline_Jet Airways                        10683 non-null  float64
 15  Airline_Jet Airways Business               10683 non-null  float64
 16  Airline_Multiple carriers                  10683 non-null  float64
 17  Airline_Multiple carriers Premium economy  10683 non-null  float64
 18  Airline_SpiceJet                           10683 non-null  float64
 19  Airline_Trujet                             10683 non-null  float64
 20  Airline_Vistara                            10683 non-null  float64
 21  Airline_Vistara Premium economy            10683 non-null  float64
 22  Source_Banglore                            10683 non-null  float64
 23  Source_Chennai                             10683 non-null  float64
 24  Source_Delhi                               10683 non-null  float64
 25  Source_Kolkata                             10683 non-null  float64
 26  Source_Mumbai                              10683 non-null  float64
 27  Destination_Banglore                       10683 non-null  float64
 28  Destination_Cochin                         10683 non-null  float64
 29  Destination_Delhi                          10683 non-null  float64
 30  Destination_Hyderabad                      10683 non-null  float64
 31  Destination_Kolkata                        10683 non-null  float64
 32  Destination_New Delhi                      10683 non-null  float64
 33  Duration_hours                             10683 non-null  int64
 34  Duration_mins                              10683 non-null  int64
dtypes: float64(23), int32(7), int64(4), object(1)
memory usage: 2.6+ MB

In [175]:
final_df['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [177]:
final_df.drop('Additional_Info',axis=1,inplace=True)

In [178]:
final_df.head()

,Total_Stops,Price,Journey_Date,Journey_Month,Journey_Year,Departure_Hour,Departure_Minute,Arrival_Hours,Arrival_Minutes,Airline_Air Asia,...,Source_Kolkata,Source_Mumbai,Destination_Banglore,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi,Duration_hours,Duration_mins
0,0,3897,24,3,2019,22,20,1,10,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2,50
1,2,7662,1,5,2019,5,50,13,15,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,7,25
2,2,13882,9,6,2019,9,25,4,25,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,19,0
3,1,6218,12,5,2019,18,5,23,30,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,5,25
4,1,13302,1,3,2019,16,50,21,35,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4,45

In [179]:
final_df.to_csv('final_flight_price.csv')